<configuration>
    <system.webServer>
        <handlers>
            <!-- Ruta al ejecutable correcto de Node.js (node.exe) usando barras inclinadas hacia adelante -->
            <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <action type="Rewrite" url="app.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode
            nodeProcessCommandLine="C:/Program Files/nodejs/node.exe"
            <!-- Reemplaza con la ruta correcta donde tengas instalado node.exe -->
        />
    </system.webServer>
</configuration>
